<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rhymebyrhyme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="Регистрация"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserInfoActivity"
            android:label="Изменить информацию"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UsersListActivity"
            android:label="@string/title_activity_users_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainPoemsListActivity"
            android:label="@string/title_activity_main_poem"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainProfileActivity"
            android:label="@string/title_activity_main_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PoemProfileActivity"
            android:label="@string/title_activity_poem_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".OwnPoemActivity" />
        <activity
            android:name=".TopAuthorsActivity"
            android:label="@string/title_activity_top_authors"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>